<!DOCTYPE html>
<html>
  <head>
    <title><% title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <h1><% title %></h1>
        <div>
          <a href="/artists">Artists</a>
        </div>
        <div>
          <a href="/artists">Investors</a>
        </div>
      </nav>
    </header>
    <main>
    </main>
  </body>
</html>
